#content {
  margin-left: auto;
  margin-right: auto;
}

.homepage-info {
  display: flex;
  height: 90vh;
  justify-content: center;
  text-align: center;
  width: 100vw;
}

.anon-icon {
  border-radius: 70%;
  height:40px;
  margin-right: 20px;
  width: 40px;
}

#adjust-buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  width: 40vw;
}

.total-comment {
  align-items: center;
  background-color: #b6b1b1;
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  padding-left:10px;
  margin-bottom: 10px;
  width: 40vw;
}

#comments {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
  width: 100vw;
}

#comment-box {
  cursor: text;
  font-size: 16px;
  height: 8vh;
  size: "20";
  width: 40vw;
}

#comment-header {
  font-size: 45px;
}

#data-servlet {
  padding-top: 10px;
}

#google-img {
  height: 100px;
  padding: 10px;
  width: 300px;
}

#weather-container {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

#card {
  align-items: center;
  background-color: white;
  border-radius: 5%;
  color: black;
  height: 70vh;
  justify-content: center;
  padding: 20px;
  width: 25vw;
}

#weather-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#dropbtn {
  background-color: #ec8aec;
  border: none;
  border-radius: 5%;
  color: white;
  font-size: 16px;
  padding: 16px;
}

#dropbtn:hover {
  cursor:pointer;
}

#dropdown {
  display: inline-block;
}

#dropdown-content {
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  color: black;
  display: none;
  position: absolute;
}

#dropdown-content p:hover {
  background-color: #ddd;
  cursor: pointer;
}

#dropdown:hover #dropdown-content {
  display: block;
  cursor: pointer;
}

#dropdown:hover #dropbtn {
  background-color: #ee96ee;
}

.profile {
  padding: 5vw;
}

.profile-text {
  align-items: center;
  width: 25vw;
}

#profile-picture {
  border-radius: 70%;
  box-shadow: 7px 7px 3px rgb(56, 54, 54);
  height: 420px; 
  width: 300px;
}

.frat {
  border-radius: 8%;
  display: block; 
  height: 200px;
  padding: 5px;
  width: 350px;
}

.baseball-small {
  border-radius: 8%;
  height: 200px;
  padding: 5px;
  width: 300px;
}

.baseball-large {
  border-radius: 8%;
  height: 200px;
  padding: 5px;
  width: 350px;
}

.small-button {
  background: white;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.icon {
  border-radius: 70%;
  height:50px;
  width: 50px;
}

#navbar-div {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;  
}

.navbar-li {
  display: inline;
  font-size: 35px;
  padding: 15px;
}

.navbar-li:hover {
  background-color: #797579;
  cursor: pointer;
}

#contact {
  align-items: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.slideshow-container {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.slideshow-pic {
  border-radius: 5%;
  box-shadow: 10px 10px 9px -3px rgba(92,84,92,1);
  height:40vw;
  width:28vw;
  -moz-box-shadow: 10px 10px 9px -3px rgba(92,84,92,1);
  -webkit-box-shadow: 10px 10px 9px -3px rgba(92,84,92,1);
}

.slide {
  display: none;
}

.arrow {
  border-radius: 0 3px 3px 0;
  color: white;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  padding: 10px;
  transition: 0.6s ease;
  user-select: none;
}

.arrow:hover {
  background-color: #797579;
  cursor: pointer;
}

.fade {
  animation-duration: 1.5s;
  animation-name: fade;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: fade;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.intro {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100vw;
}

.file-container{
  margin: 20px;
}

@font-face {
  font-family: Clip;
  src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}

body {
  background-color: #141114;
  background-image: linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px),
    linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
  color: white;
  font-family: monospace;
}

.sign {
  animation: shine 2s forwards, flicker 3s infinite;  
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #6b1839,
    transparent
  );
  color: #ffe6ff;
  font-family: "Clip";
  font-size: 6em;
  letter-spacing: 2;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  text-transform: uppercase;
}

.sign-header {
  animation: shine 2s forwards, flicker 3s infinite;
  color: #ffe6ff;
  font-family: "Clip";
  font-size: 6em;
  letter-spacing: 2;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  text-transform: uppercase;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}
