#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

body {
  background-image: "/images/utah.jpg";
  background-color: #cccccc;
  font-family: arial;
}
